
/**/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
    width: 100%;
}

#wrapper{
    height: 433px;
    width: 557px;
    margin: 0 auto;
}

header {
    display: block;
    height: 139px;
    border-bottom: black solid 3px;
}

#userPic{
 float: left;
}

#appLogo{
    float: left;
}

header a{
    display: block;
}

section span{
    font-size: 2em;
    float: right;
}

#spotName{
    float: right;
}

#spotLocation{
    float: right;
}

.rating > span {
    right: 43%;
    display: inline-block;
    content: "\2605";
    position: relative;
    width: 1.1em;
    color: #d4e3fc;
}

.rating > span:hover:before {
    content: "\2605";
    position: absolute;
    color: #1464f6;
}