* { margin: 0; padding: 0; }

article, aside, figure, footer, header,
menu, nav, section { display: block; }

#wrapper{
    width: 70%;
    margin: 0 auto;
}

/*=========================AllPages============================*/


#map {
    height: 498px;
    width: 100%;
}


.clear{
    clear: both;
}

.floatRight{
    float: right;
}

.floatleft{
    float: left;
}
/*===================SpotDetails===================*/
#spotLocation{
    margin-right: 3%;
    display: inline;
}

#spotName {
    display:inline;
    float: right;
}
/*=================EndSpotDetails==================*/

/*====================WaterInfo====================*/
#waterInfo {
    direction:rtl;
    height:80px;
    width:100%;
    text-align: center;
    border-bottom: black dashed 3px;
}

.dataTxt {
    display:inline;
}

.paddedWaterInfo{
    padding-left: 5%;
}
#waterInfo h3 {
    font-size:150%;
}
#waveHeight{
    margin-left:0%;
}
#waveTiming{
    margin-left:0%;
}
#waveTemp{

}
/*==================EndWaterInfo===================*/

/*========================EndAllPages==========================*/

/*========================IndexPage============================*/

/*===================SpotDetails===================*/
#editFavouriteSpotPencil{
    margin-left: 0.8%;
    font-size: 2em;
    float: right;
}
/*=================EndSpotDetails==================*/


/*==============LinkToDrivingDirections=============*/
#getDrvDirections{
    display:block;
    padding:20px;
    direction:rtl;
    height:160px;
    width:100%;
    border-bottom: black solid 1px;
}

#getDrvDirections > a{
    text-decoration: none;
    cursor: pointer;
}

#getDrvDirections{
    text-align: center;
}

#getDrvDirections > a{
    display:inline;
    color: #460E56;
    font-size:200%;
    margin-right:15px;
}

#directionsMap{
    width: 280px;
    height: 400px;
    float: left;
    margin-top: 1.65%;
}

#directionsPanel{
    width: 300px;
    float: right;
}

#drivingInstrucionsPanel {
    width: 68%;
    margin: 0 auto;
}
/*============EndLinkToDrivingDirections===========*/

/*====================Posts====================*/

/*
.userPosts{
	display:block;
	border-bottom:#000000 solid 1px;
	height:10px;
	width:100%;
}*/
#posts{
    width:100%;
}
#posts > article{
    width:100%;
    float:right;
    border-bottom: solid black 1px;
    border-left: solid black 1px;
    border-right: solid black 1px;
    text-align: right;
}

#posts > article h2{
    width: 50%;
    float: right;
    margin-top: 0px;
}
#posts > article h3{
    width: 100%;
    float: right;
    margin-top: 0px;
}
#posts > article h4{
    width: 70%;
    float: right;
}

.postDetails{
    width: 70%;
    float: right;
}

.postUserPic{
    float: right;
}

.postImage{
    display:block;
    width:17%;
    height: 100%;
    padding-left:1%;
    padding-bottom:1.5%;
    padding-top:1.5%;
}
/*==================EndPosts===================*/

/*===========EditFavouriteSpotModal============*/
#favoriteSpot{
    width: 20%;
}
/*========EndEditFavouriteSpotModal===========*/

/*=========================SpotsPage===========================*/
/*===================Filter====================*/

.spotsNav{
    width: 100%;
    height: 32px;
    background:#D6D6D6;
    position: relative;
    left: 0;
    margin: 0;
    text-align: center;
}

#filterImg{
    padding: 6px;
}

.filter{
    float: right;
}
#filterHead{
    height: 20px;
    text-align: center;
    height: 35px;
    background: #D6D6D6;
}
.filter > ul > li{
    width: 336px;
    list-style-type: none;
    height: 103px;
    background: #EBEBEB;
    text-align: center;
}

.dropdown-menu{
    background: #EBEBEB;
    top: 92%;
}

.radioBtnsCont{
    margin-top: 20px;
}
#break1Img{
    margin-right: 20px;
    float: right;
    cursor: pointer;
}
#break2Img{
    margin-left: 20px;
    float: left;
    cursor: pointer;
}

.breakDirectionImgBackgroung {
    background-color: #690DFF;
    height: 90px;
    width: 108px;
    margin: 0 auto;
}


/*==================EndFilter==================*/

/*==============SearchForSpotByName============*/
#txtSrc{
    text-align: center;
    position: relative;
    top: 4px;
    -webkit-border-radius: 20px;
}
/*============EndSearchForSpotByName===========*/
#loveBtn{
    float: left;
    margin-left: 11px;
    margin-top: 2px;
}
/*====================Footer==================*/
#footerNav {
    width: 100%;
    height: 49px;
    text-align: center;
    background: #D6D6D6;
    position: relative;
}

#settingBtn{
    position: relative;
    float: right;
    margin-right: 15px;
    margin-top: 5px;
}
#navigateBtn{
    position: relative;
    float: left;
    margin-left: 13px;
    margin-top: 6px;
}

#resetFilter{
    display: inline;
    margin-left: 13px;
    margin-top: 6px;
}
/*==================EndFooter=================*/
/*========================EndSpotsPage=========================*/


/*=======================SpotsInfoPage=========================*/
/*=================SpotDetails=================*/
.txtInfo {
    display:inline;
    float: right;
    position: relative;
    top: 7px;
}

#spotRegion {
    margin-right: 10px;
}

#spotCity {
    margin-right: 10px;
}

#spotInfo {
    direction:rtl;
}

#spotInfo h2, h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}
/*=================EndSpotDetails==============*/

/*==============ExtendedSpotDetails============*/
#extendedSpotDetails{
    display:block;
    float:right;
    direction:rtl;
    width:100%;
    margin-bottom:10px;
}

#extendedSpotDetailsHeader {
    margin-top:7px;
    margin-bottom: 0;
    padding-top:5px;
    height: 50px;
    background:#aaaaaa;
    padding-right:37px;
}

#extendedSpotDetailsBackground {
    height:280px;
    width:100%;
    background:#dfdfdf;
}

#spotDataRightBlock {
    height:280px;
    width:50%;
    float: left;
    padding-top:30px;
    border-right: #aaaaaa solid 2px;
}

#spotDataLeftBlock {
    height:280px;
    width:43%;
    float: left;
    padding-top:30px;
    width:50%;
}

.spotDataKey {
    padding-right:40px;
    margin-top: 3px;
}
.spotDataKey h4{
    padding-right:40px;
    margin-top: 3px;

}

.spotDataValue {
    padding-right:39px;
    margin-top:-15px;
    margin-bottom:8px;
}
/*==============ExtendedSpotDetails============*/

/*=====================Posts===================*/

.postGeneralDetailsBox{
    display:block;
    border-top: black dashed 3px;
    width:100%;
    height:100%;
    direction:rtl;

}
.postGeneralDetails{
    display:block;
    margin-top:30px;
    float:left;
    width:85%;
    min-height:130px;
}
.dynamicPostImg{
    float:right;
    height:160px;
    margin:0px;
    width:15%;
}
.postUserName{
    width:100%;
    color: #460E56;
    margin:0px;
}
.postUpdateTime{
    width:100%;
    font-size: 140%;
    margin:0px;
    direction:rtl;
}

.postMsg{
    width:100%;
    direction:rtl;
    font-size:160%;
}

.surfConditionDetails{
    padding:5px;
    height:50px;
    width:100%;
    background:rgb(235,235,235);
}

.surfConditionDetails img{
    float: left;
}

.surfConditionDetailsHeader{
    float:right;
    display:inline;
    margin-right:4px;
    font-size:150%;
    direction:rtl;
    color: #460E56;
    margin:0px;
}
.userCurrnetConditionsUpdate{
    height:120px;
    width:100%;
    background:rgb(150,150,150);
}
.updatePair{
    padding-top:35px;
    padding-right:0px;
    width:33%;
    float:left
}
.waveMeterPair{
    padding-top:10px;
    direction:rtl;
    width:33%;
    float:left;
}
/*===================EndPosts==================*/

/*======================EndSpotsInfoPage=======================*/

/*========================NewpotsPage==========================*/
/*====================Title====================*/
#newSpotTitle{
    text-align:center;
    color: #460E56;
    margin:0px;
    float: none;
}

#addSpotButton{
    border: none;
    width: 105px;
    background: transparent;
    font-size: 35px;
    color: #460E56;
}

#addNewSpotfooter{
    text-align:center;
    display: block;
    height: 50px;
    width:100%;
    background:rgb(117, 169, 249);
    position: relative; bottom:0px;
}
/*===========================403==============================*/
.loginFailSec{
    display:block;
    margin:0 auto;
    margin-top:5%;
    width:25%;
    min-width:324px;
    border:#000000 solid 5px;
    padding:25px;
}
.loginFail{
    color:#FF000C;
    font-size:200%;
}
.loginFail span{
    font-size:100%;
    color:#000000;
}
.loginFailLink{
    color:#0000FF;
    font-size:100%;
}
#logoFail{
    background: url('../img/AppLogo.jpg') no-repeat;
    display:block;
    width: 40%;
    min-width:304px;
    max-width:500px;
    height: 139px;
    background-size:100%;
    background-repeat:no-repeat;
    margin:0 auto;
}
/*============================end403============================*/
/*===================EndTitle==================*/
/*=======================EndNewpotsPage========================*/
/*=======================StartDeskTopPage========================*/
@media (min-width:600.5px){
    #map-container {
        display:block;
        height: 498px;
        width: 73%;
        float:right;
    }
    #getDrvDirections{
        display:block;
        padding:2px;
        margin-right:2%;
        direction:rtl;
        height:100%;
        width:25%;
        border: black solid 1px;
    }
    #getDrvDirections img{
        margin:2%;
        width:95%;
    }
    #getDrvDirections a{
        width:100%;
        display:inline;
        color: #351ECC;
        font-size:200%;
        margin-right:15px;
    }

    #getDrvDirections > a{
        text-decoration: none;
        cursor: pointer;
    }

    #getDrvDirections{
        text-align: center;
    }

    #directionsMap{
        width: 280px;
        height: 400px;
        float: left;
        margin-top: 1.65%;
    }

    #directionsPanel{
        width: 300px;
        float: right;
    }

    #drivingInstrucionsPanel {
        width: 68%;
        margin: 0 auto;
    }
    #waterInfo{
        margin-top:5px;
        display:block;
        padding:4px;
        margin-right:2%;
        direction:rtl;
        height:100%;
        width:25%;
        border: black solid 1px;
    }
    #waveHeight{
        padding:2px;
        display:block;
        margin:4px;
        border-bottom:#000000 solid 1px;
        color:#351ECC;
    }
    #waveTiming{
        padding:2px;
        display:block;
        margin:4px;
        border-bottom:#000000 solid 1px;
        color:#351ECC;
    }
    #waveTemp{
        padding:2px;
        display:block;
        margin:4px;
        color:#351ECC;
    }
    .postImage{
        float:none;
    }
}
/*=======================EndDeskTopPage========================*/

/*=======================MobileDesgin=====================*/
@media (max-width:600px){
    #map-container {
        display:block;
        height: 444px;
        width: 100%;
    }
    #wrapper{
        width: 100%;
    }

    #newSpotTitle{
        margin : 0 auto;
        width:40%;
    }
    #getDrvDirections{
        display:block;
        padding:20px;
        direction:rtl;
        height:160px;
        width:100%;
        border-bottom: black solid 1px;
    }

    #getDrvDirections > a{
        text-decoration: none;
        cursor: pointer;
    }

    #getDrvDirections{
        text-align: center;
    }

    #getDrvDirections > a{
        display:inline;
        color: #460E56;
        font-size:200%;
        margin-right:15px;
    }

    #directionsMap{
        width: 280px;
        height: 400px;
        float: left;
        margin-top: 1.65%;
    }

    #directionsPanel{
        width: 300px;
        float: right;
    }

    #drivingInstrucionsPanel {
        width: 68%;
        margin: 0 auto;
    }
    #waterInfo {
        padding:2%;

    }
    #waterInfo h3 {
        font-size:100%;
    }

    .paddedWaterInfo{
        padding-left: 0%;
    }
    #waveHeight{
        margin:2px;
    }
    #waveTiming{
        margin:2px;
    }
    #waveTemp{
        margin:0px;
    }
    /*========================IndexPage============================*/
    /*====================WaterInfo====================*/

    #favoriteSpot{
        width: 40%;
    }
    /*==================EndWaterInfo===================*/
    /*=======================EndIndexPage==========================*/


    /*=========================SpotsPage===========================*/
    /*====================WaterInfo====================*/
    #waterInfo {
        padding:0px;
        padding-top:10px;
    }
    #waterInfo h3 {
        font-size:140%;
    }

    .paddedWaterInfo{
        padding-left: 0%;
    }
    #waveHeight{
        margin:2px;
    }
    #waveTiming{
        margin:2px;
    }
    #waveTemp{
        margin:0px;
    }
    #map {
        height: 443px;
        width: 80%;
        margin:0 auto;
    }
    #posts{
        float:right;
    }
    #posts h4{
        width:80%;
    }
    .postImage{
        display:block;
        width: 70%;
        margin-left:15%;
        border:dotted #999999 1px;
    }
    .postGeneralDetails{
        width:60%;
    }
    .dynamicPostImg{
        width:40%;
        min-height:184px;
    }
    /*==================EndWaterInfo===================*/
}
/*========================EndSpotsPage=========================*/
/*=======================EndMobileDesgin=====================*/
