/***********nav Menu************/
#navMenu > ul{
    width:100%;
    list-style-type:none;
    margin: 0 auto;
    padding:0;
}
#navMenu li{

    display:inline-block;
    float: left;
    width:20%;
    min-width:35px;
}


#navMenu li:not(.firstNavLink){
    border-right: 1px solid #ffffff;
}

#navMenu li a {
    display:block;
    text-align: center;
    line-height: 340%;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    background: #2f3036;
    text-decoration: none;
}

#navMenu li:hover a {
    background: #19c589;
}

#navMenu .selected{
    background: #19c589;
}

.navMenuState{}
/***********End nav Menu************/


/*==================MobileDesgin=====================================*/
@media (max-width:600px){
	.navMenuState{
	    display:none;
	}
	
	#navMenu li {
		min-width: 85.5%;
		position:relative;
		left: 5.5%;
	}
}
/*===================EndMobileDesgin===============================*/